:root {
    --branco-principal: #FFFFFF;
    --rosa-segundario: #EA90B8;
    --botao-rosa-escuro: #F43288;
    --cor-de-fundo: #000000;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("https://w0.peakpx.com/wallpaper/351/768/HD-wallpaper-pubg-blackpink-avatar.jpg");
}


